.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    .button {
        border: 0px;
        border-radius: 0px;
    }
}