.button {
    background-color: #0000003e;
    border-radius: 10px;
    color: white;
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #a7a7a724;
        color: #fff;
    }
    
    &:disabled {
        background-color: #ccc;
        color: #000;
        cursor: not-allowed;
    }
}