@import '../../utils/theme.scss';

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
    gap: 10px;
    border-radius: 5px;
    &:hover {
        background-color: $selected-background-color;
        color: $selected-color;
    }
    
}