.game-complete-card-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    
}
.game-complete-card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
}

.game-complete-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.game-complete-card-general-stats, .game-complete-card-general-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;

    & > .button {
        border: 0px;
        background-color: rgba(0,0,0,0);
    }
}

.game-complete-card-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.game-complete-card-stats {
    width: 100%;
    background-color: #0000003e;
    border-radius: 20px;
}

.game-complete-card-results {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    width: 100vw;
    height: fit-content;
    padding:0 80vw 0 10vw;
    gap: 20px;
    box-sizing: border-box;
}