.game-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    background-color: #0000003e;
    border-radius: 20px;
    border: 3px solid #ffffff00;
    color: white;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
    
    &.active {
        box-sizing: border-box;
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
        background-color: #1b1b1bd7;
        opacity: 1;
        background:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f785 10px) padding-box, repeating-linear-gradient( #00055d55, #0410ff) padding-box,
              linear-gradient(to bottom right, rgb(255, 255, 255), #00055d55) border-box;
    }

    &:hover {
        background-color: #a7a7a724;
    }
}

.game-card-outside-name-container {
    position: relative;
    opacity: 0;

    transition: opacity 0.2s ease-in-out;

    &.active {
        opacity: 1;

    }
}

.game-card-outside-name {
    position: absolute;
    top: 165px;
    left: 10px;
    font-size: 30px;
    color: white;
    width: 100vw;
    text-align: left;
}

.game-card-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}