.result-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    background-color: #0000003e;
    border-radius: 20px;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.result-card-players {
    display: flex;
    flex-direction: row;
}