.players {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}